<div class="card">
  <div class="card-header">Carousel</div>
  <div class="card-block">
    <div class="d-flex align-items-center justify-content-center">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="assets/images/unsplash/16.jpg" alt="Random first slide">
          <div class="carousel-caption">
            <h3 class="ff-serif text-uppercase">First slide label</h3>
            <p class="mb-0">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/images/unsplash/17.jpg" alt="Random second slide">
          <div class="carousel-caption">
            <h3 class="ff-serif text-uppercase">Second slide label</h3>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="assets/images/unsplash/21.jpg" alt="Random third slide">
          <div class="carousel-caption">
            <h3 class="ff-serif text-uppercase">Third slide label</h3>
            <p class="mb-0">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>