<div class="card">
  <div class="card-header">Stajyerler</div>
  <div class="card-block">
    <input type="email" class="form-control mb-3" placeholder="İsime göre filtrelemek için..." required (keyup)='updateFilter($event)'>
  </div>

  <div class="table-responsive">
    <table class="table align-middle mb-0">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Stajyer</th>
          <th>Kayıt Tarihi</th>
          <th>Adres</th>
          <th>Eposta</th>
          <th>Telefon</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows">
          <td>
            <img src="{{row.photo}}" class="avatar-md rounded" alt="">
          </td>
          <td>
            <a href="#" class="d-block text-capitalize" (click)="$event.preventDefault();showIntern(row._id);">{{row.firstname}} {{row.lastname}}</a>
          </td>
          <td>{{ row.starteddate | date:'yMMMd' }}</td>
          <td>
            <span class="badge badge-default text-uppercase">{{row.email}}</span>
          </td>
          <td>
            <a href="#">{{row.phone}}</a>
          </td>
          <td>{{row.phone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>