<div class="card">
  <div class="card-header">Stajyerler</div>
  <div class="card-block">
    <input type="email" class="form-control mb-3" placeholder="İsime göre filtrelemek için..." required (keyup)='updateFilter($event)'>
  </div>

  <div class="table-responsive">
    <table class="table align-middle mb-0">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Stajyer</th>
          <th>Kayıt Tarihi</th>
          <th>Adres</th>
          <th>Eposta</th>
          <th>Telefon</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            <img src="{{user.picture.large}}" class="avatar-md rounded" alt="">
          </td>
          <td>
            <a href="#" class="d-block text-capitalize" (click)="$event.preventDefault();open(content)">{{user.name.title}} {{user.name.first}} {{user.name.last}}</a>
            <small>{{user.login.username}}</small>
          </td>
          <td>{{ user.registered | date:'yMMMd' }}</td>
          <td>
            <span class="badge badge-default text-uppercase">{{user.location.city}}</span>
          </td>
          <td>
            <a href="#">{{user.email}}</a>
          </td>
          <td>{{user.cell}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">STAJYER</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col">
              <h4 class="ma-0"><span class="fw-400">Gerald</span> <b>Morris</b></h4>
              <small>gerald@morris.com</small>
              <p class="mb-2">UX Developer</p>
              <a href="javascript:;" class="mt-1 d-block">email@contact.com</a>
              <a href="javascript:;" class="mt-1 d-block">www.example.com</a>
              <a href="javascript:;" class="mt-1 d-block">+1234567890</a>
            </div>
            <div class="col">
              <figure>
                <div class="text-center">
                  <div class="avatar-status bg-red">
                    <img src="assets/images/avatar.jpg" alt="" class="rounded-circle">
                  </div>
                  <div class="mt-1">Staj Durumu</div>
                </div>
                <div class="m-1">
                  <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
                </div>
                <div class="text-center"><small>%28 tamamladı</small></div>
              </figure>
            </div>
          </div>
        </div>
        <div class="card-block text-center">
          <p>Devam/Devamsızlık Gün Sayıları</p>
          <div class="row">
            <div class="col">
              <h2 class="mt-0"><b>42</b></h2>
              <small>Devam</small>
            </div>
            <div class="col">
              <h2 class="mt-0"><b>3</b></h2>
              <small>Devam</small>
            </div>
            <div class="col">
              <h2 class="mt-0"><b>17</b></h2>
              <small>Kalan</small>
            </div>
          </div>
        </div>
        <div class="card-block">
          <p class="ff-headers text-uppercase mb-3"><strong>Hakkında</strong></p>
          <p>Gerald Morris 22 yaşında, Aydın ilinde yaşamakta olup, Kütüphane Bölümünde 62 gün süre ile staj yapma başvurusunda bulundu. Stajı 17/04/2017 tarihinde onaylandı.</p>
        </div>
      </div>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Kapat</button>
  </div>
</ng-template>