<div class="card">
  <div class="card-header">Stajyerler</div>
  <div class="card-block">
    <input type="email" class="form-control mb-3" placeholder="İsime göre filtrelemek için..." required (keyup)='updateFilter($event)'>
  </div>

  <div class="table-responsive">
    <table class="table align-middle mb-0">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Stajyer</th>
          <th>Kayıt Tarihi</th>
          <th>Adres</th>
          <th>Eposta</th>
          <th>Telefon</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            <img src="{{user.picture.large}}" class="avatar-md rounded" alt="">
          </td>
          <td>
            <a href="#" class="d-block text-capitalize" (click)="$event.preventDefault();open(content)">{{user.name.title}} {{user.name.first}} {{user.name.last}}</a>
            <small>{{user.login.username}}</small>
          </td>
          <td>{{ user.registered | date:'yMMMd' }}</td>
          <td>
            <span class="badge badge-default text-uppercase">{{user.location.city}}</span>
          </td>
          <td>
            <a href="#">{{user.email}}</a>
          </td>
          <td>{{user.cell}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>