.custom-day {      
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0;
  display: inline-block;
  width: 2rem;
}
.custom-day:hover {
  background-color: #e6e6e6;
}
.weekend {
  background-color: #f0ad4e;
  border-radius: 0;
  color: white;
}
.hidden {
  display: none;
}