<ng-template ngbModalContainer></ng-template>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Tarih:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Olay:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<div class="card card-block">
  <div class="d-flex flex-wrap justify-content-md-between mb-3 no-gutters">
    <div class="col">
      <div class="btn-group hidden-md-down">
        <div
          class="btn btn-secondary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate">
          Dün
        </div>
        <div
          class="btn btn-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate">
          Bugün
        </div>
        <div
          class="btn btn-secondary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate">
          Yarın
        </div>
      </div>

      <div class="btn-group hidden-lg-up">
        <div class="btn btn-secondary btn-icon-icon" mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate">
          <i class="icon icon-arrows-left"></i>
        </div>
        <div class="btn btn-secondary btn-icon-icon" mwlCalendarToday
          [(viewDate)]="viewDate">
          <i class="icon icon-arrows-sign-down"></i>
        </div>
        <div class="btn btn-secondary btn-icon-icon" mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate">
          <i class="icon icon-arrows-right"></i>
        </div>
      </div>
    </div>
    <div class="col text-center align-self-center hidden-xs-down">
      <h6 class="text-uppercase mb-0">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h6>
    </div>
    <div class="col text-right">
      <div class="btn-group hidden-md-down">
        <div class="btn btn-secondary"
          (click)="view = 'month'"
          [class.active]="view === 'month'">
          Ay
        </div>
        <div class="btn btn-secondary"
          (click)="view = 'week'"
          [class.active]="view === 'week'">
          Hafta
        </div>
        <div class="btn btn-secondary"
          (click)="view = 'day'"
          [class.active]="view === 'day'">
          Gün          
        </div>
      </div>

      <div class="btn-group hidden-lg-up">
        <div class="btn btn-secondary btn-icon-icon" (click)="view = 'month'"
          [class.active]="view === 'month'">
          <i class="icon icon-software-layout-4boxes"></i>
        </div>
        <div class="btn btn-secondary btn-icon-icon" (click)="view = 'week'"
          [class.active]="view === 'week'">
          <i class="icon icon-software-layout-4lines"></i>
        </div>
        <div class="btn btn-secondary btn-icon-icon" (click)="view = 'day'"
          [class.active]="view === 'day'">
          <i class="icon icon-software-layout-4columns"></i>
        </div>
      </div>

    </div>
  </div>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</div>