<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">Yeni Tarih Ekle</div>
      <div class="card-block">
        <p>Buradan departmanınıza ait yeni tarih ekleyebilir ve düzenleyebilirsin.</p>
        <form [formGroup]="datesForm" (ngSubmit)="saveDepartmentDates(datesForm.value)">

         <div class="row">
              <fieldset class="form-group" [ngClass]="{'has-danger': datesForm.get('dateRange').hasError('required') && datesForm.get('dateRange').touched}">

                <table style="width: 100%">
                  <tr>
                    <td>
                      <my-date-range-picker [options]="myDateRangePickerOptionsInline" [formControl]="datesForm.get('dateRange')" (dateRangeChanged)="onDateRangeChanged($event)"
                        [selDateRange]="selectedDateRangeInline"></my-date-range-picker>
                    </td>
                  </tr>
                </table>

                <div class="form-control-feedback" *ngIf="datesForm.get('dateRange').hasError('required') && datesForm.get('dateRange').touched">Lütfen bir tarih girin</div>
              </fieldset>
            </div>
          <button type="submit" [disabled]="datesForm.invalid" class="btn btn-primary pull-right">Kaydet</button>
        </form>
      </div>
    </div>
  </div>


  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">Departman Tarih Listesi</div>
      <div class="card-block">
        <p>Buradan departmanıza ait kayıtlı olan tüm tarihleri görebilir ve düzenleyebilirsin. Eklenilen tarihlerin silinmesi var olan kayıtlara etki etmez ancak o tarih aralıklarında yeni kayıt alamazsın.</p>
        <div role="alert" class="alert alert-info alert-dismissible"> Eklediğin tarihler üzerinde düzenleme yapamazsın ancak yeni kayıt alınmasını düzenlemek istersen "Aktif" veya "Pasif" butonuyla bunu yapabilirsin.
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-middle mb-0">
          <thead>
            <tr>
              <th>Başlangıç Tarihi</th>
              <th>Bitiş Tarihi</th>
              <th>İşlemler</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let date of dates;let rowIndex = index">
              <td>
                {{date.starteddate | date:'dd MMMM yyyy' }}
              </td>
              <td>
                {{date.endeddate | date:'dd MMMM yyyy'}}
              <td>
                <button type="button" [ngClass]="{true:'btn btn-success', false:'btn btn-danger'}[date.isEnabled]" aria-label="View" (click)="updateDepartmentDates(date._id);">
                                    <span *ngIf="date.isEnabled" class="glyphicon glyphicon-eye-open" aria-hidden="true">Aktif</span>
                                    <span *ngIf="!date.isEnabled" class="glyphicon glyphicon-eye-open" aria-hidden="true">Pasif</span>
                                </button>
                <button type="button" class="btn btn-danger" aria-label="View" (click)="deleteDepartmentDate(date._id, rowIndex);">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true">Sil!</span>
                                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>