<div class="d-flex align-items-stretch flex-nowrap min-height-100">
  <div class="bg-cover bg-2 hidden-sm-down col-md-6 col-lg-8"></div>
  <div class="card card-block mb-0 rounded-0 col-sm-12 col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">Stajyer Başvuru Formu</div>
      <form-wizard (onStepChanged)="onStepChanged($event)">
        <wizard-step [title]="'Kişisel'" [icon]="'user'" [isValid]="internFormStep1.valid" (onNext)="onStep1Next($event)">
          <form [formGroup]="internFormStep1">

            <div class="row">
              <fieldset class="form-group col-6 pull-left" [ngClass]="{'has-danger': internFormStep1.get('firstname').hasError('required') && internFormStep1.get('firstname').touched}">
                <label for="firstname" class="form-control-label">
          İsim
        </label>
                <input type="text" class="form-control" placeholder="İsim" [formControl]="internFormStep1.get('firstname')" [ngClass]="{'form-control-danger': internFormStep1.get('firstname').hasError('required') && internFormStep1.get('firstname').touched}"
                />
                <div class="form-control-feedback" *ngIf="internFormStep1.get('firstname').hasError('required') && internFormStep1.get('firstname').touched">İsim gerekli</div>
              </fieldset>

              <fieldset class="form-group col-6 pull-right" [ngClass]="{'has-danger': internFormStep1.get('lastname').hasError('required') && internFormStep1.get('lastname').touched}">
                <label for="lastname" class="form-control-label">
          Soyisim
        </label>
                <input type="text" class="form-control" placeholder="Soyisim" [formControl]="internFormStep1.get('lastname')" [ngClass]="{'form-control-danger': internFormStep1.get('lastname').hasError('required') && internFormStep1.get('lastname').touched}"
                />
                <div class="form-control-feedback" *ngIf="internFormStep1.get('lastname').hasError('required') && internFormStep1.get('lastname').touched">Soyisim gerekli</div>
              </fieldset>
            </div>

            <div class="row">
              <fieldset class="form-group col-6 pull-left" [ngClass]="{'has-danger': internFormStep1.get('email').hasError('email') && internFormStep1.get('email').touched}">
                <label for="email" class="form-control-label">
          Eposta
        </label>
                <input type="text" class="form-control" placeholder="example@mail.com" [formControl]="internFormStep1.get('email')" [ngClass]="{'form-control-danger': internFormStep1.get('email').hasError('email') && internFormStep1.get('email').touched}"
                />
                <div class="form-control-feedback" *ngIf="internFormStep1.get('email').hasError('email') && internFormStep1.get('email').touched">Lütfen bir eposta girin</div>
              </fieldset>

              <fieldset class="form-group col-6 pull-right" [ngClass]="{'has-danger': internFormStep1.get('phone').hasError('required') && internFormStep1.get('phone').touched}">
                <label for="phone" class="form-control-label">
          Telefon
        </label>
                <input type="text" class="form-control" placeholder="+90 (555) 555-5555" [textMask]="{mask: mask}" [(ngModel)]="myModel"  [formControl]="internFormStep1.get('phone')" [ngClass]="{'form-control-danger': internFormStep1.get('phone').hasError('required') && internFormStep1.get('phone').touched}"
                />
                <div class="form-control-feedback" *ngIf="internFormStep1.get('phone').hasError('required') && internFormStep1.get('phone').touched">Telefon gerekli</div>
              </fieldset>
            </div>

            <div class="row">
              <fieldset class="form-group col-6 pull-left" [ngClass]="{'has-danger': internFormStep1.get('gender').hasError('required') && internFormStep1.get('gender').touched}">
                <label for="gender" class="form-control-label">
          Cinsiyet
        </label>
                <select type="number" class="form-control" [(ngModel)]="genderValue" (ngModelChance)='toGender()' [formControl]="internFormStep1.get('gender')">
                <option value="" disabled="true" [selected]="!genderValue">-- Cinsiyet --</option>
                <option *ngFor="let gen of genders" [ngValue]="gen.num">{{gen.name}}</option>
              </select>
                <div class="form-control-feedback" *ngIf="internFormStep1.get('gender').hasError('required') && internFormStep1.get('gender').touched">Bu alan gerekli</div>
              </fieldset>

              <fieldset class="form-group col-6 pull-right" [ngClass]="{'has-danger': internFormStep1.get('tc').hasError('required') && internFormStep1.get('tc').touched}">
                <label for="tc" class="form-control-label">
          TC Kimlik Numarası
        </label>
                <input type="text" class="form-control" placeholder="TC Kimlik Numaranız" [formControl]="internFormStep1.get('tc')" [ngClass]="{'form-control-danger': internFormStep1.get('tc').hasError('required') && internFormStep1.get('tc').touched}"
                />

                <div class="form-control-feedback" *ngIf="internFormStep1.get('tc').touched && internFormStep1.get('tc').errors">
                  <span class="col-sm-10" style="padding:4px 0 0;color:red;" *ngIf="internFormStep1.get('tc').hasError('required') && internFormStep1.get('tc').touched">
                   Bu alan gerekli
                </span>
                  <span class="col-sm-10" style="padding:4px 0 0;color:red;" *ngIf="internFormStep1.get('tc').errors?.pattern">
                     TC Numarası geçerli değil
                </span>
                </div>
              </fieldset>
            </div>

            <div class="row">
              <fieldset class="form-group col-6 pull-left" [ngClass]="{'has-danger': internFormStep1.get('address').hasError('required') && internFormStep1.get('address').touched}">
                <label for="address" class="form-control-label">
          Adres
        </label>
                <input type="text" class="form-control" placeholder="Adres" [formControl]="internFormStep1.get('address')" [ngClass]="{'form-control-danger': internFormStep1.get('address').hasError('required') && internFormStep1.get('address').touched}"
                />
                <div class="form-control-feedback" *ngIf="internFormStep1.get('address').hasError('required') && internFormStep1.get('address').touched">Adres gerekli</div>
              </fieldset>

              <fieldset class="form-group col-6 pull-right" [ngClass]="{'has-danger': internFormStep1.get('dob').hasError('required') && internFormStep1.get('dob').touched}">
                <label for="dob" class="form-control-label">
          Doğum Tarihi
        </label>

                <div class="input-group">
                  <input [(ngModel)]="dobValue"  class="form-control" placeholder="yyyy-mm-dd" [formControl]="internFormStep1.get('dob')" [ngClass]="{'form-control-danger': internFormStep1.get('dob').hasError('required') && internFormStep1.get('dob').touched}" name="dp" [displayMonths]=1 [navigation]="navigation" ngbDatepicker #d3="ngbDatepicker" />
                  <div class="input-group-addon" (click)="d3.toggle()">
                    <i class="icon icon-basic-calendar" style="cursor: pointer;"></i>
                  </div>
                </div>
                <div class="form-control-feedback" *ngIf="internFormStep1.get('dob').hasError('required') && internFormStep1.get('dob').touched">Bu alan gerekli</div>             
              </fieldset>
            </div>

            <div class="row">
              <fieldset class="form-group col-6 pull-left" [ngClass]="{'has-danger': internFormStep1.get('photo').hasError('required')}">
                <label for="photo" class="form-control-label">
          Fotoğraf
        </label><br>

                <label class="btn btn-secondary" for="filePicker">
            <input type="file" id="filePicker" style="display:none;"  (change)="handleFileSelect($event)" accept="image/jpeg, image/png, image/bmp" class="custom-file-input"/>
              Yükle
        </label>
                <input type="checkbox" style="display:none;" [formControl]="internFormStep1.get('photo')" [ngClass]="{'form-control-danger': internFormStep1.get('photo').hasError('required')}"
                />
                <div class="form-control-feedback" *ngIf="internFormStep1.get('photo').hasError('required')">Fotoğraf gerekli</div>
              </fieldset>
              <div class="form-group col-6 pull-left avatar-lg">
                <div *ngIf="base64textString"><img class="img-fluid" [src]="base64textString" /></div>
              </div>
            </div>
          </form>
        </wizard-step>


        <wizard-step [title]="'Staj'" [icon]="'graduation-cap'" [isValid]="internFormStep2.valid && internFormStep1.valid" (onNext)="onStep2Next($event)">
          <form [formGroup]="internFormStep2" novalidate (ngSubmit)="saveIntern(internFormStep2.value, internFormStep1.value)">

            <fieldset class="form-group" [ngClass]="{'has-danger': internFormStep2.get('department').hasError('required') && internFormStep2.get('department').touched}">
              <label for="department" class="form-control-label">
          Departman
        </label>
              <select type="text" #selectDepartment class="form-control" [(ngModel)]="SelectedValue" (change)='toDefaultTime(selectDepartment.value)'
                [formControl]="internFormStep2.get('department')">
                <option value="" disabled="true" [selected]="!date">-- Departman --</option>
                <option *ngFor="let dep of departments" [ngValue]="dep.starteddate">{{dep.name}}</option>
              </select>
              <div class="form-control-feedback" *ngIf="internFormStep2.get('department').hasError('required') && internFormStep2.get('department').touched">Bu alan gerekli</div>
            </fieldset>

            <div class="row">
              <fieldset class="form-group" [ngClass]="{'has-danger': internFormStep2.get('dateRange').hasError('required') && internFormStep2.get('dateRange').touched}">

                <table style="width: 100%">
                  <tr>
                    <td>
                      <my-date-range-picker [options]="myDateRangePickerOptionsInline" [formControl]="internFormStep2.get('dateRange')" (dateRangeChanged)="onDateRangeChanged($event)"
                        [selDateRange]="selectedDateRangeInline"></my-date-range-picker>
                    </td>
                  </tr>
                </table>

                <div class="form-control-feedback" *ngIf="internFormStep2.get('dateRange').hasError('required') && internFormStep2.get('dateRange').touched">Lütfen bir tarih girin</div>
              </fieldset>
            </div>
          </form>
        </wizard-step>

        <wizard-step [title]="'Onay'" [icon]="'check'" [isValid]="internFormStep3.valid && internFormStep2.valid && internFormStep1.valid" (onComplete)="onComplete($event)">
          <h1>Tebrikler.</h1>
          <p class="lead">Tüm bilgileri başarı ile ve eksiksiz olarak girdiniz. <br>Son bir aşama olarak bu bilgilerin size ait olduğunu
            onaylamanız gerekmektedir.
          </p>
          <form [formGroup]="internFormStep3" id="completeForm" (ngSubmit)="saveIntern(internFormStep1.value, internFormStep2.value)">
            <div class="form-check">
              <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="secret" [formControl]="internFormStep3.get('isComplete')" [ngClass]="{'form-control-danger': internFormStep3.get('isComplete').hasError('isComplete') && internFormStep3.get('isComplete').touched}"/>
              Tüm bilgilerin bana ait olduğunu onaylıyorum.
            </label>
            </div>
          </form>
        </wizard-step>
      </form-wizard>

    </div>
  </div>
