<div class="d-flex align-items-stretch flex-nowrap min-height-100">
  <div class="bg-cover bg-2 hidden-sm-down col-md-6 col-lg-8"></div>
  <div class="card card-block mb-0 rounded-0 col-sm-12 col-md-6 col-lg-4">
    <div class="card">
  <div class="card-header">Stajyer Başvuru Formu</div>
    <form-wizard (onStepChanged)="onStepChanged($event)">
      <wizard-step [title]="'Kişisel'" [icon]="'user'" [isValid]="internFormStep1.valid" (onNext)="onStep1Next($event)">
        <form [formGroup]="internFormStep1" (ngSubmit)="saveintern(internFormStep1.value)">

          <div class="row">
            <fieldset class="form-group col-6 pull-left" [ngClass]="{'has-danger': internFormStep1.get('firstname').hasError('required') && internFormStep1.get('firstname').touched}">
              <label for="firstname" class="form-control-label">
          İsim
        </label>
              <input type="text" class="form-control" placeholder="Adınız" [formControl]="internFormStep1.get('firstname')" [ngClass]="{'form-control-danger': internFormStep1.get('firstname').hasError('required') && internFormStep1.get('firstname').touched}"
              />
              <div class="form-control-feedback" *ngIf="internFormStep1.get('firstname').hasError('required') && internFormStep1.get('firstname').touched">Bu alan gerekli</div>
            </fieldset>

            <fieldset class="form-group col-6 pull-right" [ngClass]="{'has-danger': internFormStep1.get('lastname').hasError('required') && internFormStep1.get('lastname').touched}">
              <label for="lastname" class="form-control-label">
          Soyisim
        </label>
              <input type="text" class="form-control" placeholder="Soyadınız" [formControl]="internFormStep1.get('lastname')" [ngClass]="{'form-control-danger': internFormStep1.get('lastname').hasError('required') && internFormStep1.get('lastname').touched}"
              />
              <div class="form-control-feedback" *ngIf="internFormStep1.get('lastname').hasError('required') && internFormStep1.get('lastname').touched">Bu alan gerekli</div>
            </fieldset>
          </div>

          <div class="row">
            <fieldset class="form-group col-6 pull-left" [ngClass]="{'has-danger': internFormStep1.get('email').hasError('email') && internFormStep1.get('email').touched}">
              <label for="email" class="form-control-label">
          Eposta
        </label>
              <input type="text" class="form-control" placeholder="example@mail.com" [formControl]="internFormStep1.get('email')" [ngClass]="{'form-control-danger': internFormStep1.get('email').hasError('email') && internFormStep1.get('email').touched}"
              />
              <div class="form-control-feedback" *ngIf="internFormStep1.get('email').hasError('email') && internFormStep1.get('email').touched">Lütfen bir eposta girin</div>
            </fieldset>

            <fieldset class="form-group col-6 pull-right" [ngClass]="{'has-danger': internFormStep1.get('tc').hasError('required') && internFormStep1.get('tc').touched}">
              <label for="tc" class="form-control-label">
          TC Kimlik Numarası
        </label>
              <input type="text" class="form-control" placeholder="TC Kimlik Numaranız" [formControl]="internFormStep1.get('tc')" [ngClass]="{'form-control-danger': internFormStep1.get('tc').hasError('required') && internFormStep1.get('tc').touched}"
              />

              <div class="form-control-feedback" *ngIf="internFormStep1.get('tc').touched && internFormStep1.get('tc').errors">
                <span class="col-sm-10" style="padding:4px 0 0;color:red;" *ngIf="internFormStep1.get('tc').hasError('required') && internFormStep1.get('tc').touched">
                   Bu alan gerekli
                </span>
                <span class="col-sm-10" style="padding:4px 0 0;color:red;" *ngIf="internFormStep1.get('tc').errors?.pattern">
                     TC Numarası geçerli değil
                </span>
              </div>
            </fieldset>
          </div>
          <div class="row">
            <fieldset class="form-group col-6 pull-left" [ngClass]="{'has-danger': internFormStep1.get('gender').hasError('required') && internFormStep1.get('gender').touched}">
              <label for="gender" class="form-control-label">
          Cinsiyet
        </label>
              <select type="number" class="form-control" [(ngModel)]="genderValue" (ngModelChance)='toGender()' [formControl]="internFormStep1.get('gender')" >
                <option value="" disabled="true" [selected]="!genderValue">-- Cinsiyet --</option>
                <option *ngFor="let gen of genders" [ngValue]="gen.num">{{gen.name}}</option>
              </select>
              <div class="form-control-feedback" *ngIf="internFormStep1.get('gender').hasError('required') && internFormStep1.get('gender').touched">Bu alan gerekli</div>
            </fieldset>

            <fieldset class="form-group col-6 pull-right" [ngClass]="{'has-danger': internFormStep1.get('dob').hasError('required') && internFormStep1.get('dob').touched}">
              <label for="dob" class="form-control-label">
          Doğum Tarihi
        </label>

              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" [formControl]="internFormStep1.get('dob')" [ngClass]="{'form-control-danger': internFormStep1.get('dob').hasError('required') && internFormStep1.get('dob').touched}"
                  name="dp" [displayMonths]=1 [navigation]="navigation" ngbDatepicker #d3="ngbDatepicker" />
                <div class="input-group-addon" (click)="d3.toggle()">
                  <i class="icon icon-basic-calendar" style="cursor: pointer;"></i>
                </div>
              </div>
              <div class="form-control-feedback" *ngIf="internFormStep1.get('dob').hasError('required') && internFormStep1.get('dob').touched">Bu alan gerekli</div>
            </fieldset>
          </div>


          <fieldset class="form-group" [ngClass]="{'has-danger': internFormStep1.get('phone').hasError('required') && internFormStep1.get('phone').touched}">
            <label for="phone" class="form-control-label">
          Telefon Numarası
        </label>
            <input type="text" class="form-control" placeholder="Telefon Numarası" [formControl]="internFormStep1.get('phone')" [ngClass]="{'form-control-danger': internFormStep1.get('phone').hasError('required') && internFormStep1.get('phone').touched}"
            />

            <div class="form-control-feedback" *ngIf="internFormStep1.get('phone').hasError('required') && internFormStep1.get('phone').touched">Bu alan gerekli</div>
          </fieldset>

          <fieldset class="form-group" [ngClass]="{'has-danger': internFormStep1.get('address').hasError('required') && internFormStep1.get('address').touched}">
            <label for="address" class="form-control-label">
          Adres
        </label>
            <input type="text" class="form-control" placeholder="Adres" [formControl]="internFormStep1.get('address')" [ngClass]="{'form-control-danger': internFormStep1.get('address').hasError('required') && internFormStep1.get('address').touched}"
            />

            <div class="form-control-feedback" *ngIf="internFormStep1.get('address').hasError('required') && internFormStep1.get('address').touched">Bu alan gerekli</div>
          </fieldset>

          <div class="row">
            <fieldset class="form-group col-7 pull-left" [ngClass]="{'has-danger': internFormStep1.get('photo').hasError('required') && internFormStep1.get('photo').touched}">
              <label for="photo" class="form-control-label">
          Fotoğraf
        </label><br>

              <label class="btn btn-secondary" for="filePicker">
            <input type="file" id="filePicker" style="display:none;" (change)="handleFileSelect($event)" accept="image/jpeg, image/png" class="custom-file-input" [formControl]="internFormStep1.get('photo')"
              [ngClass]="{'form-control-danger': internFormStep1.get('photo').hasError('required') && internFormStep1.get('photo').touched}">
              Yükle
        </label>
              <div class="form-control-feedback" *ngIf="internFormStep1.get('photo').hasError('required') && internFormStep1.get('photo').touched">Fotoğraf gerekli</div>
            </fieldset>
            <div class="form-group col-5 pull-left avatar-lg">
              <div *ngIf="base64textString"><img class="img-fluid" src="data:image/jpg;base64,{{base64textString}}" /></div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="internFormStep1.invalid">KAYIT</button>
        </form>
      </wizard-step>





      <wizard-step [title]="'Staj'" [icon]="'graduation-cap'" [isValid]="internFormStep2.valid" (onNext)="onStep2Next($event)">
        <form [formGroup]="internFormStep2" (ngSubmit)="internsave(internFormStep2.value)">

          <fieldset class="form-group" [ngClass]="{'has-danger': internFormStep1.get('gender').hasError('required') && internFormStep1.get('gender').touched}">
            <label for="gender" class="form-control-label">
          Staj Bölümü
        </label>
            <select class="form-control">
                <option>Seçin</option>
                <option>Hastane</option>
                <option>Bilgi İşlem</option>
                <option>Donanım</option>
                <option>Kütüphane</option>
                <option>Mühendislik</option>
                <option>Rektörlük</option>
            </select>

            <div class="form-control-feedback" *ngIf="internFormStep1.get('gender').hasError('required') && internFormStep1.get('gender').touched">Bu alan gerekli</div>
          </fieldset>

          <fieldset class="form-group" [ngClass]="{'has-danger': internFormStep2.get('starteddate').hasError('required') && internFormStep2.get('starteddate').touched}">
            <label for="starteddate" class="form-control-label">
          Staj Başlama Tarihi
        </label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" [formControl]="internFormStep2.get('starteddate')" [ngClass]="{'form-control-danger': internFormStep2.get('starteddate').hasError('required') && internFormStep2.get('starteddate').touched}"
                name="dp" [displayMonths]="displayMonths" [navigation]="navigation" ngbDatepicker #d="ngbDatepicker" />
              <div class="input-group-addon" (click)="d.toggle()">
                <i class="icon icon-basic-calendar" style="cursor: pointer;"></i>
              </div>
            </div>
            <div class="form-control-feedback" *ngIf="internFormStep2.get('starteddate').hasError('required') && internFormStep2.get('starteddate').touched">Bu alan gerekli</div>
          </fieldset>

          <fieldset class="form-group" [ngClass]="{'has-danger': internFormStep2.get('endeddate').hasError('required') && internFormStep2.get('endeddate').touched}">
            <label for="endeddate" class="form-control-label">
          Staj Bitiş Tarihi
        </label>

            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [displayMonths]="displayMonths" [navigation]="navigation"
                ngbDatepicker #d2="ngbDatepicker" [formControl]="internFormStep2.get('endeddate')" [ngClass]="{'form-control-danger': internFormStep2.get('endeddate').hasError('required') && internFormStep2.get('endeddate').touched}">
              <div class="input-group-addon" (click)="d2.toggle()">
                <i class="icon icon-basic-calendar" style="cursor: pointer;"></i>
              </div>
            </div>
            <div class="form-control-feedback" *ngIf="internFormStep2.get('endeddate').hasError('required') && internFormStep2.get('endeddate').touched">Bu alan gerekli</div>
          </fieldset>
        </form>
      </wizard-step>

      <wizard-step [title]="'Onay'" [icon]="'check'" (onComplete)="onComplete($event)">
        <h1>Tebrikler.</h1>
        <p class="lead">Tüm bilgileri başarı ile ve eksiksiz olarak girdiniz. <br>Son bir aşama olarak bu bilgilerin size ait olduğunu onaylamanız
          gerekmektedir.
        </p>
        <form>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" name="secret" [(ngModel)]="step3.showSecret"/>
              Tüm bilgilerin bana ait olduğunu onaylıyorum.
            </label>
          </div>
        </form>
      </wizard-step>
    </form-wizard>
  </div>
</div>
</div>