<div class="card">
  <div class="card-header">Social buttons</div>
  <div class="card-block">
    <div>        
      <button class="btn btn-icon btn-adn mb-1 mr-1">
        <i class="fa fa-adn"></i>
        App.net
      </button>

      <button class="btn btn-icon btn-bitbucket mb-1 mr-1">
        <i class="fa fa-bitbucket"></i>
        Bitbucket
      </button>

      <button class="btn btn-icon btn-dropbox mb-1 mr-1">
        <i class="fa fa-dropbox"></i>
        Dropbox
      </button>

      <button class="btn btn-icon btn-facebook mb-1 mr-1">
        <i class="fa fa-facebook"></i>
        Facebook
      </button>

      <button class="btn btn-icon btn-flickr mb-1 mr-1">
        <i class="fa fa-flickr"></i>
        Flickr
      </button>

      <button class="btn btn-icon btn-foursquare mb-1 mr-1">
        <i class="fa fa-foursquare"></i>
        Foursquare
      </button>

      <button class="btn btn-icon btn-github mb-1 mr-1">
        <i class="fa fa-github"></i>
        GitHub
      </button>

      <button class="btn btn-icon btn-google mb-1 mr-1">
        <i class="fa fa-google-plus"></i>
        Google
      </button>

      <button class="btn btn-icon btn-instagram mb-1 mr-1">
        <i class="fa fa-instagram"></i>
        Instagram
      </button>

      <button class="btn btn-icon btn-linkedin mb-1 mr-1">
        <i class="fa fa-linkedin"></i>
        LinkedIn
      </button>

      <button class="btn btn-icon btn-microsoft mb-1 mr-1">
        <i class="fa fa-windows"></i>
        Microsoft
      </button>

      <button class="btn btn-icon btn-odnoklassniki mb-1 mr-1">
        <i class="fa fa-odnoklassniki"></i>
        Odnoklassniki
      </button>

      <button class="btn btn-icon btn-openid mb-1 mr-1">
        <i class="fa fa-openid"></i>
        OpenID
      </button>

      <button class="btn btn-icon btn-pinterest mb-1 mr-1">
        <i class="fa fa-pinterest"></i>
        Pinterest
      </button>

      <button class="btn btn-icon btn-reddit mb-1 mr-1">
        <i class="fa fa-reddit"></i>
        Reddit
      </button>

      <button class="btn btn-icon btn-soundcloud mb-1 mr-1">
        <i class="fa fa-soundcloud"></i>
        SoundCloud
      </button>

      <button class="btn btn-icon btn-tumblr mb-1 mr-1">
        <i class="fa fa-tumblr"></i>
        Tumblr
      </button>

      <button class="btn btn-icon btn-twitter mb-1 mr-1">
        <i class="fa fa-twitter"></i>
        Twitter
      </button>

      <button class="btn btn-icon btn-vimeo mb-1 mr-1">
        <i class="fa fa-vimeo-square"></i>
        Vimeo
      </button>

      <button class="btn btn-icon btn-vk mb-1 mr-1">
        <i class="fa fa-vk"></i>
        VK
      </button>

      <button class="btn btn-icon btn-yahoo mb-1 mr-1">
        <i class="fa fa-yahoo"></i>
        Yahoo!
      </button>
    </div>

    <p class="pt-3">Square</p>
    <div>
      <button class="btn btn-icon-icon btn-adn mb-1 mr-1">
        <i class="fa fa-adn"></i>
      </button>
      <button class="btn btn-icon-icon btn-bitbucket mb-1 mr-1">
        <i class="fa fa-bitbucket"></i>
      </button>
      <button class="btn btn-icon-icon btn-dropbox mb-1 mr-1">
        <i class="fa fa-dropbox"></i>
      </button>
      <button class="btn btn-icon-icon btn-facebook mb-1 mr-1">
        <i class="fa fa-facebook"></i>
      </button>
      <button class="btn btn-icon-icon btn-flickr mb-1 mr-1">
        <i class="fa fa-flickr"></i>
      </button>
      <button class="btn btn-icon-icon btn-foursquare mb-1 mr-1">
        <i class="fa fa-foursquare"></i>
      </button>
      <button class="btn btn-icon-icon btn-github mb-1 mr-1">
        <i class="fa fa-github"></i>
      </button>
      <button class="btn btn-icon-icon btn-google mb-1 mr-1">
        <i class="fa fa-google-plus"></i>
      </button>
      <button class="btn btn-icon-icon btn-instagram mb-1 mr-1">
        <i class="fa fa-instagram"></i>
      </button>
      <button class="btn btn-icon-icon btn-linkedin mb-1 mr-1">
        <i class="fa fa-linkedin"></i>
      </button>
      <button class="btn btn-icon-icon btn-microsoft mb-1 mr-1">
        <i class="fa fa-windows"></i>
      </button>
      <button class="btn btn-icon-icon btn-odnoklassniki mb-1 mr-1">
        <i class="fa fa-odnoklassniki"></i>
      </button>
      <button class="btn btn-icon-icon btn-openid mb-1 mr-1">
        <i class="fa fa-openid"></i>
      </button>
      <button class="btn btn-icon-icon btn-pinterest mb-1 mr-1">
        <i class="fa fa-pinterest"></i>
      </button>
      <button class="btn btn-icon-icon btn-reddit mb-1 mr-1">
        <i class="fa fa-reddit"></i>
      </button>
      <button class="btn btn-icon-icon btn-soundcloud mb-1 mr-1">
        <i class="fa fa-soundcloud"></i>
      </button>
      <button class="btn btn-icon-icon btn-tumblr mb-1 mr-1">
        <i class="fa fa-tumblr"></i>
      </button>
      <button class="btn btn-icon-icon btn-twitter mb-1 mr-1">
        <i class="fa fa-twitter"></i>
      </button>
      <button class="btn btn-icon-icon btn-vimeo mb-1 mr-1">
        <i class="fa fa-vimeo-square"></i>
      </button>
      <button class="btn btn-icon-icon btn-vk mb-1 mr-1">
        <i class="fa fa-vk"></i>
      </button>
      <button class="btn btn-icon-icon btn-yahoo mb-1 mr-1">
        <i class="fa fa-yahoo"></i>
      </button>
    </div>
    <p class="pt-3">Circle</p>
    <div>
      <button class="btn btn-icon-icon btn-adn rounded-circle mb-1 mr-1">
        <i class="fa fa-adn"></i>
      </button>
      <button class="btn btn-icon-icon btn-bitbucket rounded-circle mb-1 mr-1">
        <i class="fa fa-bitbucket"></i>
      </button>
      <button class="btn btn-icon-icon btn-dropbox rounded-circle mb-1 mr-1">
        <i class="fa fa-dropbox"></i>
      </button>
      <button class="btn btn-icon-icon btn-facebook rounded-circle mb-1 mr-1">
        <i class="fa fa-facebook"></i>
      </button>
      <button class="btn btn-icon-icon btn-flickr rounded-circle mb-1 mr-1">
        <i class="fa fa-flickr"></i>
      </button>
      <button class="btn btn-icon-icon btn-foursquare rounded-circle mb-1 mr-1">
        <i class="fa fa-foursquare"></i>
      </button>
      <button class="btn btn-icon-icon btn-github rounded-circle mb-1 mr-1">
        <i class="fa fa-github"></i>
      </button>
      <button class="btn btn-icon-icon btn-google rounded-circle mb-1 mr-1">
        <i class="fa fa-google-plus"></i>
      </button>
      <button class="btn btn-icon-icon btn-instagram rounded-circle mb-1 mr-1">
        <i class="fa fa-instagram"></i>
      </button>
      <button class="btn btn-icon-icon btn-linkedin rounded-circle mb-1 mr-1">
        <i class="fa fa-linkedin"></i>
      </button>
      <button class="btn btn-icon-icon btn-microsoft rounded-circle mb-1 mr-1">
        <i class="fa fa-windows"></i>
      </button>
      <button class="btn btn-icon-icon btn-odnoklassniki rounded-circle mb-1 mr-1">
        <i class="fa fa-odnoklassniki"></i>
      </button>
      <button class="btn btn-icon-icon btn-openid rounded-circle mb-1 mr-1">
        <i class="fa fa-openid"></i>
      </button>
      <button class="btn btn-icon-icon btn-pinterest rounded-circle mb-1 mr-1">
        <i class="fa fa-pinterest"></i>
      </button>
      <button class="btn btn-icon-icon btn-reddit rounded-circle mb-1 mr-1">
        <i class="fa fa-reddit"></i>
      </button>
      <button class="btn btn-icon-icon btn-soundcloud rounded-circle mb-1 mr-1">
        <i class="fa fa-soundcloud"></i>
      </button>
      <button class="btn btn-icon-icon btn-tumblr rounded-circle mb-1 mr-1">
        <i class="fa fa-tumblr"></i>
      </button>
      <button class="btn btn-icon-icon btn-twitter rounded-circle mb-1 mr-1">
        <i class="fa fa-twitter"></i>
      </button>
      <button class="btn btn-icon-icon btn-vimeo rounded-circle mb-1 mr-1">
        <i class="fa fa-vimeo-square"></i>
      </button>
      <button class="btn btn-icon-icon btn-vk rounded-circle mb-1 mr-1">
        <i class="fa fa-vk"></i>
      </button>
      <button class="btn btn-icon-icon btn-yahoo rounded-circle mb-1 mr-1">
        <i class="fa fa-yahoo"></i>
      </button>
    </div>
    <p class="pt-3">Large</p>
    <div>
      <button class="btn btn-icon-icon btn-adn btn-lg mb-1 mr-1">
        <i class="fa fa-adn"></i>
      </button>
      <button class="btn btn-icon-icon btn-bitbucket btn-lg mb-1 mr-1">
        <i class="fa fa-bitbucket"></i>
      </button>
      <button class="btn btn-icon-icon btn-dropbox btn-lg mb-1 mr-1">
        <i class="fa fa-dropbox"></i>
      </button>
      <button class="btn btn-icon-icon btn-facebook btn-lg mb-1 mr-1">
        <i class="fa fa-facebook"></i>
      </button>
      <button class="btn btn-icon-icon btn-flickr btn-lg mb-1 mr-1">
        <i class="fa fa-flickr"></i>
      </button>
      <button class="btn btn-icon-icon btn-foursquare btn-lg mb-1 mr-1">
        <i class="fa fa-foursquare"></i>
      </button>
      <button class="btn btn-icon-icon btn-github btn-lg mb-1 mr-1">
        <i class="fa fa-github"></i>
      </button>
      <button class="btn btn-icon-icon btn-google btn-lg mb-1 mr-1">
        <i class="fa fa-google-plus"></i>
      </button>
      <button class="btn btn-icon-icon btn-instagram btn-lg mb-1 mr-1">
        <i class="fa fa-instagram"></i>
      </button>
      <button class="btn btn-icon-icon btn-linkedin btn-lg mb-1 mr-1">
        <i class="fa fa-linkedin"></i>
      </button>
      <button class="btn btn-icon-icon btn-microsoft btn-lg mb-1 mr-1">
        <i class="fa fa-windows"></i>
      </button>
      <button class="btn btn-icon-icon btn-odnoklassniki btn-lg mb-1 mr-1">
        <i class="fa fa-odnoklassniki"></i>
      </button>
      <button class="btn btn-icon-icon btn-openid btn-lg mb-1 mr-1">
        <i class="fa fa-openid"></i>
      </button>
      <button class="btn btn-icon-icon btn-pinterest btn-lg mb-1 mr-1">
        <i class="fa fa-pinterest"></i>
      </button>
      <button class="btn btn-icon-icon btn-reddit btn-lg mb-1 mr-1">
        <i class="fa fa-reddit"></i>
      </button>
      <button class="btn btn-icon-icon btn-soundcloud btn-lg mb-1 mr-1">
        <i class="fa fa-soundcloud"></i>
      </button>
      <button class="btn btn-icon-icon btn-tumblr btn-lg mb-1 mr-1">
        <i class="fa fa-tumblr"></i>
      </button>
      <button class="btn btn-icon-icon btn-twitter btn-lg mb-1 mr-1">
        <i class="fa fa-twitter"></i>
      </button>
      <button class="btn btn-icon-icon btn-vimeo btn-lg mb-1 mr-1">
        <i class="fa fa-vimeo-square"></i>
      </button>
      <button class="btn btn-icon-icon btn-vk btn-lg mb-1 mr-1">
        <i class="fa fa-vk"></i>
      </button>
      <button class="btn btn-icon-icon btn-yahoo btn-lg mb-1 mr-1">
        <i class="fa fa-yahoo"></i>
      </button>
    </div>
    <p class="pt-3">Small</p>
    <div>
      <button class="btn btn-icon-icon btn-adn btn-sm mb-1 mr-1">
        <i class="fa fa-adn"></i>
      </button>
      <button class="btn btn-icon-icon btn-bitbucket btn-sm mb-1 mr-1">
        <i class="fa fa-bitbucket"></i>
      </button>
      <button class="btn btn-icon-icon btn-dropbox btn-sm mb-1 mr-1">
        <i class="fa fa-dropbox"></i>
      </button>
      <button class="btn btn-icon-icon btn-facebook btn-sm mb-1 mr-1">
        <i class="fa fa-facebook"></i>
      </button>
      <button class="btn btn-icon-icon btn-flickr btn-sm mb-1 mr-1">
        <i class="fa fa-flickr"></i>
      </button>
      <button class="btn btn-icon-icon btn-foursquare btn-sm mb-1 mr-1">
        <i class="fa fa-foursquare"></i>
      </button>
      <button class="btn btn-icon-icon btn-github btn-sm mb-1 mr-1">
        <i class="fa fa-github"></i>
      </button>
      <button class="btn btn-icon-icon btn-google btn-sm mb-1 mr-1">
        <i class="fa fa-google-plus"></i>
      </button>
      <button class="btn btn-icon-icon btn-instagram btn-sm mb-1 mr-1">
        <i class="fa fa-instagram"></i>
      </button>
      <button class="btn btn-icon-icon btn-linkedin btn-sm mb-1 mr-1">
        <i class="fa fa-linkedin"></i>
      </button>
      <button class="btn btn-icon-icon btn-microsoft btn-sm mb-1 mr-1">
        <i class="fa fa-windows"></i>
      </button>
      <button class="btn btn-icon-icon btn-odnoklassniki btn-sm mb-1 mr-1">
        <i class="fa fa-odnoklassniki"></i>
      </button>
      <button class="btn btn-icon-icon btn-openid btn-sm mb-1 mr-1">
        <i class="fa fa-openid"></i>
      </button>
      <button class="btn btn-icon-icon btn-pinterest btn-sm mb-1 mr-1">
        <i class="fa fa-pinterest"></i>
      </button>
      <button class="btn btn-icon-icon btn-reddit btn-sm mb-1 mr-1">
        <i class="fa fa-reddit"></i>
      </button>
      <button class="btn btn-icon-icon btn-soundcloud btn-sm mb-1 mr-1">
        <i class="fa fa-soundcloud"></i>
      </button>
      <button class="btn btn-icon-icon btn-tumblr btn-sm mb-1 mr-1">
        <i class="fa fa-tumblr"></i>
      </button>
      <button class="btn btn-icon-icon btn-twitter btn-sm mb-1 mr-1">
        <i class="fa fa-twitter"></i>
      </button>
      <button class="btn btn-icon-icon btn-vimeo btn-sm mb-1 mr-1">
        <i class="fa fa-vimeo-square"></i>
      </button>
      <button class="btn btn-icon-icon btn-vk btn-sm mb-1 mr-1">
        <i class="fa fa-vk"></i>
      </button>
      <button class="btn btn-icon-icon btn-yahoo btn-sm mb-1 mr-1">
        <i class="fa fa-yahoo"></i>
      </button>
    </div>
  </div>
</div>
