<div class="row demo-spinkit">
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="card">
      <div class="card-header no-shadow block"><span class="mr-auto"></span>01</div>
      <div class="card-block">
        <div class="loader01"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="card">
      <div class="card-header no-shadow block"><span class="mr-auto"></span>02</div>
      <div class="card-block">
        <div class="loader02"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="card">
      <div class="card-header no-shadow block"><span class="mr-auto"></span>03</div>
      <div class="card-block">
        <div class="loader03"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="card">
      <div class="card-header no-shadow block"><span class="mr-auto"></span>04</div>
      <div class="card-block">
        <div class="loader04"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="card">
      <div class="card-header no-shadow block"><span class="mr-auto"></span>05</div>
      <div class="card-block">
        <div class="loader05"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="card">
      <div class="card-header no-shadow block"><span class="mr-auto"></span>06</div>
      <div class="card-block">
        <div class="loader06"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="card">
      <div class="card-header no-shadow block"><span class="mr-auto"></span>07</div>
      <div class="card-block">
        <div class="loader07"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="card">
      <div class="card-header no-shadow block"><span class="mr-auto"></span>08</div>
      <div class="card-block">
        <div class="loader08"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="card">
      <div class="card-header no-shadow block"><span class="mr-auto"></span>09</div>
      <div class="card-block">
        <div class="loader09"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="card">
      <div class="card-header no-shadow block"><span class="mr-auto"></span>10</div>
      <div class="card-block">
        <div class="loader10"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="card">
      <div class="card-header no-shadow block"><span class="mr-auto"></span>11</div>
      <div class="card-block">
        <div class="loader11"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="card">
      <div class="card-header no-shadow block"><span class="mr-auto"></span>12</div>
      <div class="card-block">
        <div class="loader12"></div>
      </div>
    </div>
  </div>
</div>